<div class="container">
  <div class="row d-flex justify-content-center align-items-center login-form-row">
    <div class="login-form-card col-xl-3 col-lg-3 col-md-4 col-sm-12 col12">
      <form #loginForm="ngForm"
            (ngSubmit)="_validateCredentials(loginForm)"
            class="form-horizontal">

        <h3 class="title">
          LOGOWANIE
        </h3>

        <div class="form-group form-inline">
          <label class="control-label col-sm-2"
                 for="login">
            Login:
          </label>
          <input class="form-control"
                 id="login"
                 name="login"
                 ngModel
                 required
                 type="text">
        </div>

        <div class="form-group form-inline">
          <label class="control-label col-sm-2"
                 for="password">
            Hasło:
          </label>
          <input class="form-control"
                 id="password"
                 name="password"
                 ngModel
                 required
                 type="password">
        </div>

        <div class="form-group form-inline">
          <label class="control-label col-sm-2"
                 for="captcha">
            {{_firstNumber}} + {{_secondNumber}} =
          </label>
          <input class="form-control"
                 id="captcha"
                 name="captcha"
                 ngModel
                 required
                 type="number">
        </div>

        <div *ngIf="_wrongCaptcha"
             class="alert alert-danger"
             role="alert">
          Nieprawidłowa captcha
        </div>

        <div *ngIf="_wrongCredentials"
             class="alert alert-danger"
             role="alert">
          Nieprawidłowy login i/lub hasło
        </div>

        <button [disabled]="!loginForm.form.valid"
                class="btn btn-primary btn-block submit-button"
                type="submit">
          Zaloguj się
        </button>

        <button (click)="_navigateToRegisterPage()"
                class="btn btn-primary btn-block submit-button"
                type="button">
          Rejestracja
        </button>


      </form>
    </div>
  </div>
</div>
