<br>

<ng-container *ngIf="this.posts.length">
  <ng-container *ngFor="let post of posts">
    <ng-container *ngIf="post !== undefined">

      <div class="container">
        <div class="list-group margin">

          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">

              <h5 class="mb-1">
                {{post.title}}
              </h5>

              <small>
                {{post.createDate}}
              </small>

            </div>

            <p class="mb-1">{{post.description}}</p>

            <div class="d-flex w-100 justify-content-between">
              <small>
                Autor: {{post.user}}
              </small>

              <div>
                <button (click)="setEditPost(post)"
                        class="material-icons btn btn-primary"
                        title="Edytuj post">
                  edit
                </button>
                <button (click)="setPostToDelete(post)"
                        class="material-icons btn btn-danger"
                        data-target="#deleteModal"
                        data-toggle="modal"
                        title="Usuń post">
                  delete
                </button>
              </div>

            </div>
          </a>

        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<br>

<ng-container *ngIf="this.users.length">
  <ng-container *ngFor="let user of users">
    <ng-container *ngIf="user !== undefined">
      <div class="container">
        <div class="list-group margin">

          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">

              <h5 class="mb-1">
                {{user.username}}
              </h5>

              <small>
                {{user.registerDate}}
              </small>

              <mat-checkbox [checked]="user.supervisor"
                            disabled>
                Administrator
              </mat-checkbox>

              <div>
                <button (click)="setEditUser(user)"
                        class="material-icons btn btn-primary"
                        title="Edytuj użytkownika">
                  edit
                </button>
                <button (click)="setUserToDelete(user)"
                        class="material-icons btn btn-danger"
                        data-target="#deleteUserModal"
                        data-toggle="modal"
                        title="Usuń użytkownika">
                  delete
                </button>
              </div>

            </div>
          </a>

        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<!--Okno dialogowe usuwania postu-->
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleModalLabel">
          Skasuj post
        </h5>

        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>

      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć wybrany post?
      </div>

      <div class="modal-footer">

        <button #cancelPostDeleteButton
                (click)="cancelPostDelete()"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Anuluj
        </button>

        <button (click)="deletePost()"
                type="button"
                class="btn btn-primary">
          Skasuj
        </button>

      </div>
    </div>
  </div>
</div>

<button #editPostButton
        type="button"
        style="display: none"
        data-toggle="modal"
        data-target="#exampleModal">
  Edytuj post
</button>

<div aria-hidden="true"
     aria-labelledby="editModal"
     class="modal fade"
     id="exampleModal"
     role="dialog"
     tabindex="-1">

  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title"
            id="editModal">
          Edytuj post
        </h5>

        <button #closeButton
                aria-label="Close"
                class="close"
                data-dismiss="modal"
                type="button">
          <span aria-hidden="true">
            &times;
          </span>

        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">

            <label for="title-modal">
              Tytuł
            </label>
            <input [(ngModel)]="post.title"
                   aria-describedby="emailHelp"
                   class="form-control"
                   id="title-modal"
                   name="title"
                   placeholder="Wprowadź tytuł"
                   required
                   type="text">
          </div>

          <div class="form-group">
            <label for="description-modal">
              Opis
            </label>
            <textarea [(ngModel)]="post.description"
                      class="form-control"
                      id="description-modal"
                      name="description"
                      placeholder="Wprowadź opis"
                      required>
            </textarea>
          </div>

          <button (click)="editPost()"
                  class="btn btn-primary"
                  type="button">
            Zapisz zmiany
          </button>
        </form>

      </div>
    </div>
  </div>
</div>


<!--Okno dialogowe usuwania użytkownika-->
<div class="modal fade"
     id="deleteUserModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="exampleUserModalLabel">
          Skasuj użytkownika
        </h5>

        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>

      </div>

      <div class="modal-body">
        Czy na pewno chcesz usunąć wybranego użytkownika?
      </div>

      <div class="modal-footer">

        <button #closeUserDeleteButton
                (click)="cancelUserDelete()"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Anuluj
        </button>

        <button (click)="deleteUser()"
                type="button"
                class="btn btn-primary">
          Skasuj
        </button>

      </div>
    </div>
  </div>
</div>

<button #editUserButton
        type="button"
        style="display: none"
        data-toggle="modal"
        data-target="#exampleUserModal">
  Edytuj użytkownika
</button>

<div aria-hidden="true"
     aria-labelledby="editUserModal"
     class="modal fade"
     id="exampleUserModal"
     role="dialog"
     tabindex="-1">

  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title"
            id="editUserModal">
          Edytuj użytkownika
        </h5>

        <button #closeUserEditButton
                aria-label="Close"
                class="close"
                data-dismiss="modal"
                type="button">
          <span aria-hidden="true">
            &times;
          </span>

        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">

            <label for="username-modal">
              Login
            </label>
            <input [(ngModel)]="user.username"
                   aria-describedby="emailHelp"
                   class="form-control"
                   id="username-modal"
                   name="title"
                   placeholder="Wprowadź login"
                   required
                   type="text">
          </div>

          <div class="form-group">
            <label for="supervisor-modal">
              Administrator
            </label>
            <mat-checkbox [checked]="user.supervisor"
                          class="form-control"
                          id="supervisor-modal"
                          name="description"
                          required>
            </mat-checkbox>
          </div>

          <button (click)="editUser()"
                  class="btn btn-primary"
                  type="button">
            Zapisz zmiany
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
