<div class="list-group margin">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">

      <form #addPostForm="ngForm"
            (ngSubmit)="addPost()"
            class="add-form">

        <div class="form-group form-inline">
          <input class="form-control"
                 id="title"
                 name="title"
                 formControlName="title"
                 ngModel
                 required
                 type="text"
                 placeholder="Wprowadź tytuł">
        </div>

        <div class="form-group form-inline">
          <textarea class="form-control"
                    id="description"
                    name="description"
                    formControlName="description"
                    ngModel
                    required
                    type="text"
                    placeholder="Wprowadź opis"
                    rows="6">
          </textarea>
        </div>

        <button [disabled]="!addPostForm.form.valid"
                class="btn btn-primary btn-block submit-button"
                type="submit">
          Dodaj post
        </button>

      </form>

    </div>
  </div>
</div>
