<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <button type="button" class="btn btn-primary">
          Strona główna
        </button>
      </li>
      <li class="nav-item">
        <button #addPost type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
          Dodaj post
        </button>
      </li>
      <li class="nav-item">
        <button (click)="logout()" type="button" class="btn btn-link">
          Wyloguj
        </button>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Blog o kanarkach</h3>
</header>

<main role="main">

  <app-show-post></app-show-post>
  <app-add-post></app-add-post>

</main>

<footer class="footer">
  <p>Created by Mateusz Kaliciński</p>
</footer>
