<mat-toolbar class="bg-warning">

  <span class="badge badge-warning">
    Blog o kanarkach
  </span>

  <span class="example-fill-remaining-space">

  </span>

  <button (click)="_homeButtonClick()"
          class="btn btn-success home-button">
    Strona główna
  </button>

  <button (click)="_contactButtonClick()"
          class="btn btn-info home-button">
    Kontakt
  </button>

  <button (click)="_adminButtonClicked()"
          class="btn btn-primary home-button">
    Panel administratora
  </button>

  <button (click)="_logOutButtonClick()"
          class="btn btn-danger logout-button">
    Wyloguj
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
