<form #contactForm="ngForm"
      (ngSubmit)="onSubmit()"
      [formGroup]="_contactMeForm"
      class=" container text-center p-5">

  <p class="h4 mb-4">
    Skontaktuj się
  </p>

  <input class="form-control mb-4"
         formControlName="name"
         id="name"
         placeholder="Imię"
         required
         type="text">

  <input class="form-control mb-4"
         formControlName="email"
         id="email"
         placeholder="E-mail"
         required
         type="email">

  <label for="subject"></label>
  <select class="browser-default custom-select mb-4"
          formControlName="subject"
          id="subject"
          required>
    <option disabled value="">
      Wybierz powód kontaktu
    </option>
    <option selected value="1">
      Opinia
    </option>
    <option value="2">
      Zgłoszenie błędu
    </option>
    <option value="3">
      Prośba o nową funkcjonalność
    </option>
    <option value="4">
      Inne
    </option>
  </select>

  <div class="form-group">
    <textarea class="form-control rounded-0"
              formControlName="message"
              id="message"
              placeholder="Wiadomość"
              required
              rows="4">
    </textarea>
  </div>

  <button [disabled]="!contactForm.form.valid"
          class="btn btn-primary submit-button"
          type="submit">
    Wyślij
  </button>

</form>
