<div class="margin bg-transparent">

  <form #searchBarForm="ngForm"
        (ngSubmit)="searchByTag()"
        [formGroup]="_searchBar"
        class="add-form">

    <div class="input-group">
      <input class="form-control input"
             formControlName="tag"
             id="tag"
             name="tag"
             placeholder="Wyszukaj po tagu"
             required
             type="text">

      <span class="input-group-btn">

            <button [disabled]="!searchBarForm.form.valid"
                    class="material-icons btn btn-success btn-block"
                    title="Wyszukaj"
                    type="submit">
              search
            </button>
          </span>

      <span class="input-group-btn">
            <button (click)="resetTags()"
                    class="material-icons btn btn-danger btn-block"
                    title="Wyczyść tag"
                    type="reset">
              cancel
            </button>
          </span>

      <span class="input-group-btn">
            <button (click)="convertPostsToPdf()"
                    class="material-icons btn btn-primary btn-block"
                    title="Zapisz posty"
                    type="button">
              save
            </button>
          </span>
    </div>
  </form>
</div>

<br>

<div id="posts">
  <ng-container *ngIf="posts.length">
    <ng-container *ngFor="let post of posts">
      <ng-container *ngIf="post !== undefined">
        <div class="list-group margin">
          <a class="list-group-item list-group-item-action flex-column align-items-start"
             (click)="goToPost(post)">

            <div class="d-flex w-100 justify-content-between">

              <h5 class="mb-1">
                {{post.title}}
              </h5>

              <small>
                {{post.createDate}}
              </small>

            </div>

            <p class="mb-1">
              {{post.description}}
            </p>


            <div class="d-flex w-100 justify-content-between">
              <small>
                Autor: {{post.user}}
              </small>

              <small>
                Tagi: {{post.tags}}
              </small>
            </div>
          </a>

        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
